<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
    <title>Stég Pizzéria</title>
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <!-- Just an image -->
    <nav class="navbar">
        <a class="navbar-brand" href="#">
            <img src="images/horgony.png" width="30" height="30" alt="">
        </a>
    </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="#etlap">étlap</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#rolunk">rólunk</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">kapcsolat</a>
            </li>
        </ul>
        <a href="#">
            <i class="fas fa-sign-in-alt" data-toggle="modal" data-target="#loginscreen"></i>
        </a>

        <span class="huen"><b> HU</b> | EN</span>
    </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="loginscreen" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Bejelentkezés</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/login">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Felhasználónév:</label>
                        <input type="text" class="form-control" id="recipient-name" name="user">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Jelszó:</label>
                        <input  type="password" class="form-control" id="message-text" name="pw">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezár</button>
                    <button type="submit" class="btn btn-primary">Belépés</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" width="100%" id="front" src="images/bh.jpg">
            <div class="carousel-caption d-none d-md-block">
                <h1>Stég Pizzéria és étterem<br>Tihany</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row blokk" id="etlap">
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
            <h1 class="maintitle"> Étlap </h1>
            <div class="menu">
                <a href="#eloetelek"> Eőételek</a> | <a href="#levesek">Levesek</a> | <a href="#salatak">Saláták</a> | Rostonsült grillételek | Frissensültek | Halételek | Köretek |
                Olaszos tésztafélék | Ház ajánlata | Pizzák | Desszertek
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12 col-lg-6">

        <h1 class="maintitle"  align="center">Előételek</h1>
        <table class="table table-hover">
            <tbody>
            <% menu.forEach((item)=> { if(item.type == 'eloetel') {%>
            <tr>
                <td><b><%= item.kaja %></b><br><%= item.leiras %></td>
                <td align="right"><%= item.ar %> Ft</td>
            </tr>
            <%}});%>
            </tbody>

        </table>
            </div>
        <div class="col-sm-6 col-md-6 col-xs-12 col-lg-6">
        <h1 class="maintitle"  align="center">Levesek</h1>
        <table class="table table-hover">
            <tbody>
            <% menu.forEach((item)=> { if(item.type == 'leves') {%>
            <tr>
                <td><b><%= item.kaja %></b><br><%= item.leiras %></td>
                <td><%= item.ar %> Ft</td>
            </tr>
            <%}});%>
            </tbody>
        </table>
    </div></div>
</div>
<div class="container">
    <div class="row blokk" id="rolunk">
        <div class="col-sm-5 offset-sm-2 col-md-5 offset-md-2 col-xs-12 offset-xs-0 col-lg-5 offset-lg-2">
            <h1 class="maintitle"> Rólunk </h1>
            Tihany szívében, az Apátság lábánál lévő családias kis vendéglőnkbe várunk szeretettel minden kedves vendéget.
            Hangulatos kert helységünk a főutcáról nyílik, kínálatunk közt szerepelnek különféle csapolt sörök, finom helyi borok,
            frissen facsart gyümölcsből limonádék. Ezen kívül roston sült grill ételek, frissensültek, olaszos tészták, friss saláta különlegességek,
            illetve a fő különlegességünk a házi készítésű, kemencében sült pizzák várják az idelátogatókat.
        </div>
        <div class="col-sm-3 col-md-3 col-xs-12 col-lg-3">
            <img src="images/logo.png" width="100%">
        </div>
    </div>
</div>
<div class="container container_ blokk">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4 photos">
            <img width="100%" class="photos2 h_gray" src="images/gallery/1.JPG">
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4 photos">
            <img width="100%" class="photos2 h_gray" src="images/gallery/5.JPG">
            <img width="100%" class="photos2 h_gray" src="images/gallery/4.JPG">
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4 photos">
            <img width="100%" class="photos2 h_gray" src="images/gallery/2.JPG">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8 photos">
            <img width="100%" class="h_gray" src="images/gallery/6.JPG">
        </div>
        <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4 photos">
            <img width="100%" class="h_gray" src="images/gallery/3.JPG">
        </div>
    </div>
</div>
<div id="map"></div>
<div class="container blokk contact" id="kapcsolat">

    <div class="row">
        <div class="col-sm-5 offset-sm-2 col-md-5 offset-md-2 col-xs-12 offset-xs-0 col-lg-5 offset-lg-2">
            <div class="c_title">Cím:</div>
            Kossuth Lajos utca 18.<br>
            Tihany<br><br>
        </div>
        <div class="col-sm-5 col-md-5 col-xs-12 col-lg-5">
            <div class="c_title">Nyitvatartás:</div>
            Márciustól novemberig<br>
            Minden nap <br>
            10:00 - 21:00<br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 offset-sm-2 col-md-5 offset-md-2 col-xs-12 offset-xs-0 col-lg-5 offset-lg-2">
            <div class="c_title">Elérhetőségek:</div>
            valami@valami.hu<br>
            +36 87 438 127<br><br>
        </div>
        <div class="col-sm-5 col-md-5 col-xs-12 col-lg-5">
            <div class="c_title">Elfogadott fizető eszközök:</div>
            kézpénz<br>
            szép kártya<br>
            bankkártya<br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 offset-sm-2 col-md-5 offset-md-2 col-xs-12 offset-xs-0 col-lg-5 offset-lg-2">
            <div class="c_title">Házhozszállítás:</div>
            Tihany területén ingyen
        </div>
        <div class="col-sm-5 col-md-5 col-xs-12 col-lg-5">
            <a target="_blank" href="https://www.facebook.com/stegpizzeriatihany/"><img width="30px" src="images/Fb.png"></a>
        </div>
    </div>

</div>
<div class="footer" align="center">
    © 2018 TÓTH JUDIT
</div>
<script>
    function initMap() {
        var uluru = {lat: 46.9135, lng: 17.8885};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy544iCPzaulf0nJ8_E7ILUNt9n2ZXI6M&callback=initMap">
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
